
<% @posts.reverse.each do |x| %>
	<img  id="Image"
		<%=image_tag x.image.url(:medium)%>
		
		<br>
		<br>
		
		<%= audio_tag x.music.url,autoplay: false, controls: true, preload: true%></td>
		<br>

		<%= x.descricao %>
		<br>
		<br>
<% end%>