<h1>Nova Postagem</h1>


<%= form_for @post,html: { multipart: true } do |f| %>
	
	
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="input-group">
        	<br>
            <%= f.label :image,"Imagem" %>
            <br>
			<%= f.file_field :image  %>
			<br>
			<br>
			<br>
			<%= f.label :music,"Música" %>
			<br>
			<%= f.file_field :music%>
			<br>
			<br>
			<br>
			<%= f.label :descricao,"Descrição"%>
			<br>
			<%= f.text_area :descricao%>
			<br>
			<br>
			<%= f.submit "Postar" %>
            
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<% end %>

