<h1>Bem-vindo ao husky!</h1>

<article>
 <br>
 <br>
 <font size="6" face="verdana">
  husky é um site para o upload de arquivos de música e imagens baseado em ruby on rails.
  <br>
  
  </font>
</article>