<h1>Sobre o husky</h1>

<article>
 <br>
 <br>
 <font size="6" face="verdana">
  A ideia do site é baseada no cymbal, um aplicativo para plataformas móveis disponível para Android e iOS.
  <br>
  <br>
  <font size="4">
  Esse projeto não tem fins comerciais,tendo apenas objetivos educacionais e servindo de um exercício prático na disciplina de Orientação a Objetos
  </font>
  <br>
  
  </font>
</article>