<!DOCTYPE html>
<html>
  <head>

    <title>husky</title>
  

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
  <style>
  #Image{     
     
     border-width: 10px;  border-radius: 10px; border-color:#ffffff;   border-style: solid; 
    }
    

    </style>
  </head>
 
  <body>
    
  
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <%= link_to "husky", root_url, class: "navbar-brand"%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "Sobre", abouts_about_path %>
                    </li>
                    <li>
                        
                        <%= link_to "Nova postagem", new_post_path %>
                    </li>
                        <%- if current_usuario %>
                        <li>
                        <%= link_to "Logout",destroy_usuario_session_path, method: :delete, data: {confirm: "Você tem certeza?"} %>
                        </li>
                        <% else %>
                    <li>
                        <%= link_to "Login",new_usuario_session_path %>
                    </li>
                    <li>
                        <%= link_to "Registrar-se", new_usuario_registration_path %>
                    </li>
                    <% end%>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <% flash.each do |a , b| %>
                    <div class = "alert alert-success"> <%= b %> </div>
                <%end%>
            	<%= yield%>	

            </div>
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->
        <style>body{padding-top:70px;
            background-color: #f5f5ef;}</style>
        </body>
</html>